<h2 class="m-3">Stupid coaching</h2>
<h5>Ask your coach anything</h5>
<div class="container d-flex p-5">
<form action="/answer" data-turbo="false" class="d-flex w-100">
  <input class="form-control" type="text" name="answer">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
